*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* nav section */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
   
}
nav .flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-img{
    margin-left: 30px;
}
nav ul{
    padding-top: 15px;
    list-style: none;
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
nav ul li a:hover{
    text-decoration: none;
}
nav ul li.active{
    border-bottom:2px solid #fff;
}
.btn{
    text-transform: uppercase;
    color: #fff;
    background-color: #c80125;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
    outline: none;
    display: inline-block;
    
}
nav .hamburger{
    display: none;
}
nav .hamburger:focus{
    outline: none;
}
nav.scrolled{
    background: #000;
}
/* header section */
header .container{
    background-image: url('https://res.cloudinary.com/elijahwale/image/upload/v1591628091/bg_bdy65d.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
}
/* .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: .3;
} */

header .header-text{
    padding: 350px 0  0 100px;
    margin: 0 auto;
    color: #fff;
}
.header-text p{
     font-family: 'Montserrat', sans-serif;
    font-weight: 600px;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #fff;

}
.header-text h1{
    font-family: adobe-arabic, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6.25rem;
    text-transform: uppercase;
    color: #fff;
}
/* section part */
section{
    background-color: #000;
    color: #fff;
}
  section .container{
    padding: 40px;
   

}
.flex-section{
    margin: 0 auto;
    background-color: #171717;
    color: #fff;
    padding: 40px;
}
.flex-section div{
    padding-top: 20px;
}
.flex-section h3{
    margin-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
}
/* footer section */
footer{
    background-color: #171717;
    margin: 0;
    padding: 40px 0 10px 0 ;
}
footer .flex{
    display: flex;
    justify-content: space-between;
}
footer ul{
    list-style: none;
    
}
footer ul li a{
   color: #fff;
}
footer li a:hover{
    text-decoration:none;
    color: #fff;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-weight: 1.5rem;
    color: #fff;
}
footer .link li{
    font-family: 'Montserrat', sans-serif;
    font-weight: noraml;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 15px;

}
.social-icons{
    display: flex;
    
}
.social-icons li:not(:last-child){
    margin-right: 20px;
}
footer .flex 
.copyright{
    margin: 0;
}
.copyright p{
    padding-top: 20px;
    color: #fff;
    text-align: center;
}


/* screen of 768px and below */
@media only screen and (max-width: 768px){
    body{
        text-align: center;
    }
    .header-text{
        text-align: center;
    }

    nav ul{
        display: none;
    }
    nav ul.show{
        background-color: #000;
        display: flex;
        flex-direction: column;
        position: fixed;
        margin: 0;
        top: 50px;
        right: 0;
        width: 100vw;
        height: calc(100vh - 50px);
        z-index: 100;
    }
    nav ul li{
        margin: 30px 0;
    }
    nav .hamburger{
        background-color: transparent;
        border: 0;
        cursor: pointer;
        display: flex;
       

    }
    nav .flex{
        display: flex;
        justify-content: space-between;
    }
    nav .hamburger .close{
        display: none;
    }
    nav .hamburger.show .open{
        display: none;
    }
    nav .hamburger.show .close{
        display: block;
    }
    .flex-section h3{
        margin-top: 20px;
    }
    
    footer .flex{
        flex-direction: column;
    }
    .social-icons {
        justify-content: center;
    }
    footer .link li{
        padding-bottom: 30px;
    }
    header .header-text{
        padding:200px  50px ;
    }
      
    
}
@media only screen and (max-width: 600px){
    
    .header-text h1{
        font-size: 4.5rem;
    }
}
@media only screen and (max-width: 425px){
    .header-text h1{
        font-size: 3.5rem;
        text-align: center;
    }
}